{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!-- <img src="{{ url_for('static', filename='img/Greenhouse_1.svg') }}" alt=""> -->
<div>
    <p>Legend: </p>
    <div class="legend-item">
        <div class="box grey"></div>
        <p>No data available</p>
    </div>
    <div class="legend-item">
        <div class="box green"></div>
        <p>ideal conditions</p>
    </div>
    <div class="legend-item">
        <div class="box red"></div>
        <p>non-ideal conditions</p>
    </div>
    <div class="legend-item">
        <div class="box blue"></div>
        <p>not collecting data anymore</p>
    </div>
</div>
<div class="greenhouse-container">
    <div>
        <p>Green House 1</p>
        <object data="{{ url_for('static', filename='img/gh_1.svg') }}" id="g1" class="greenhouse"></object>
    </div>
    <div>

        <p>Green House 2</p>
        <object data="{{ url_for('static', filename='img/gh_2.svg') }}" id="g2" class="greenhouse"></object>
    </div>
</div>

<br>
<button class="refresh-btn">refresh</button>

<script src="{{url_for('static', filename='js/sensors.js')}}"></script>
{% endblock %}